@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Cool Beans began as an idea, an idea so crazy it just might work!  One man living in Redford, Michigan was
    lamenting about the lack of originality in nearby coffee shops.
    There were many chain stores around but nothing that provided that cozy feeling of home as well as having a pleasant social
    element.  So from his neighborhood chain coffee shop and on a napkin, he began detailing what would be the start of the
    greatest coffee shop in the WORLD!
</p>
<p>

    After a year of planning, investing, and searching, the man found the perfect location at the perfect price.  The building
    was a fixer-upper but he knew it was a diamond in the rough that only needed a little TLC.  Six months later Cool Beans Coffee
    opened its doors to an excited community of Coffee Officianados!
</p>

<h2>Customer Testimonials</h2>
<br />
<h4>SO GOOD!</h4>
<p>Cool Beans is the best coffee shop EVAR! Their Kona coffee is to die for! <i>-1337B3@nLvr</i></p>
<br />
<h4>4 Stars</h4>
<p>I have never had a better cup of Joe than at Cool Beans. Their staff is very knowledgeable about where their coffee comes
    from and always happy to help!  The owner is pretty cute too ;) <i>-KrazyKaren</i></p>

<head>
    <style>
    </style>

</head>

<body style="background: url(https://wallpapercave.com/wp/wp1923749.png)">



</body>

</html>
