@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Cool Beans began as an idea, an idea so crazy it just might work!  Two friends living in Redford, Michigan were
    chatting about the lack of originality in nearby coffee shops.
    There were many chain stores around but nothing that provided that cozy feeling of home as well as having a pleasant social
    element.  So from their neighborhood chain coffee shop and on a napkin, they began detailing what would be the start of the
    greatest coffee shop in the WORLD!
</p>

<head>
    <style>
    </style>

</head>

<body style="background: url(https://ak.picdn.net/shutterstock/videos/4973522/thumb/4.jpg)">



</body>

</html>
