@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    15501 5 Mile Rd<br />
    Redford, MI 48239<br />
    <abbr title="Phone">P:</abbr>
    313.670.5199
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@coolbeans.com">Support@coolbeans.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@coolbeans.com">Marketing@coolbeans.com</a>
</address>

<html>
<head>
    <style>
    </style>

</head>

<body style="background: url(https://331mrnu3ylm2k3db3s1xd1hg-wpengine.netdna-ssl.com/wp-content/uploads/2020/02/coffee_beans_shaped_like_heart.jpg)">



</body>

</html>