@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    15501 5 Mile Rd<br />
    Redford, MI 48239<br />
    <abbr title="Phone">P:</abbr>
    313.670.5199
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@coolbeans.com">Support@coolbeans.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@coolbeans.com">Marketing@coolbeans.com</a>
</address>

<html>
<head>
    <style>
    </style>

</head>

<body style="        background: url(https://img.wallpapersafari.com/desktop/1680/1050/51/82/QLerb6.jpg)">



</body>

</html>