@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cool Beans: We like our sugar with coffee and cream!</h1>
    <p class="lead">Welcome to our website! Please register for some cool "perks" :)</p>
    <p><a href="/Home/Registration/" class="btn btn-primary btn-lg">Register Here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our Sugar</h2>
        <p>
            Our Sugar comes from the best Sugar Cane grown in the United States.  You can taste the homegrown difference!
        </p>
        <p><a class="btn btn-default" href="https://www.agmrc.org/commodities-products/grains-oilseeds/sugarcane-profile#:~:text=the%20early%201990s.-,Production,31.1%20million%20tons%20in%202017.">Learn more about Sugar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Coffee</h2>
        <p>Our Coffee comes from countries around the world.  You can have a cup of Columbian Cocoa bean one day and try some delicious Mexican espresso the next!  Ask us about our special coffee made from animal dung!</p>
        <p><a class="btn btn-default" href="https://www.ncausa.org/about-coffee/coffee-around-the-world">Learn more about Coffee &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Free WiFi!</h2>
        <p>Register with us and enjoy free mediocre speed WiFi all day! (purchase required for password)</p>
        <p><a class="btn btn-default" href="https://www.wired.com/story/public-wifi-safety-tips">Learn more about public WiFI &raquo;</a></p>
    </div>
</div>
<html>
<head>
    <style>
    </style>

    </head >

    <body style = "background: url(https://images.creativemarket.com/0.1.0/ps/3294257/910/607/m2/fpnw/wm0/coffee-beans-.jpg?1506120679&s=a1156e42cc3fd9605cc2e2fc52314dc6)" >



    </body >

</html>