
@{
    ViewBag.Title = "Menu";
}

<h1>Menu</h1>
<h3>@ViewBag.Message</h3>

<html>
<head>
    <style>
    </style>

</head>

<body style="        background: url(https://wallpapercave.com/wp/60P9094.jpg)">



</body>

</html>

<div class="row">
    <div class="col-md-4">
        <h2>Columbian Supremo</h2>
        <p>
            We use Colombia’s top-grade extra large Arabica beans for our Colombian Supremo coffee. Its intense flavor and rich
            aroma make it the world’s best-selling origin and one of Cool Beans’ most popular picks. 
            The medium-roasted beans offer a distinct Colombian flavor, a characteristic the country is known for. 
            Day or night, this coffee remains a consistent favorite and will not disappoint.
        </p>
        <p><a class="btn btn-default" href="https://www.agmrc.org/commodities-products/grains-oilseeds/sugarcane-profile#:~:text=the%20early%201990s.-,Production,31.1%20million%20tons%20in%202017.">Add to Cart &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mexican Altura</h2>
        <p>Smooth-tasting and free from any bitterness, this smooth-tasting Organic Mexico 'Altura Tollan' gourmet coffee has a mild and pleasant flavor that is sure to captivate you.</p>
        <p><a class="btn btn-default" href="https://www.ncausa.org/about-coffee/coffee-around-the-world">Add to Cart &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hawaiian Kona</h2>
        <p>
            Enjoy one of the best coffees in the world! Kona is a perfect medium bodied coffee with very low acidity due to the rich volcanic soil in which it grows.
        </p>
        <p><a class="btn btn-default" href="https://www.wired.com/story/public-wifi-safety-tips">Add to Cart &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ivory Coast Robusta</h2>
        <p>
            Ivory coast coffee is famous for its bitterness and its coarse texture, 
            yet these qualities do not mask its flavor which is quite a wholesome experience.
        </p>
        <p><a class="btn btn-default" href="https://www.agmrc.org/commodities-products/grains-oilseeds/sugarcane-profile#:~:text=the%20early%201990s.-,Production,31.1%20million%20tons%20in%202017.">Add to Cart &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Yemeni Mocha Java</h2>
        <p>In ancient times, when coffee was shipped from the famous Yemeni port of Mocha to destinations all over the world, 
        the word Mocha became synonymous with Arabian coffee.  The Dutch combined Arabian coffee with coffee grown on the 
        island of Java to make the first coffee blend -- and one that is still well-known today -- Mocha Java. </p>
        <p><a class="btn btn-default" href="https://www.ncausa.org/about-coffee/coffee-around-the-world">Add to Cart &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sumatra Mandheling</h2>
        <p>In terms of coffee production, Sumatra is the most recognizable and highly regarded island. Sumatra coffee beans 
        are considered to be some of the best in the world. Sumatra coffee profiles are full, heavy bodied coffees with low 
        acidity and high earthy character. Often including sweet chocolate and spicy notes, these profiles are complex and 
        exquisite. The best Sumatra coffees are simply sublime.</p>
        <p><a class="btn btn-default" href="https://www.wired.com/story/public-wifi-safety-tips">Add to Cart &raquo;</a></p>
    </div>
</div>