
@{
    ViewBag.Title = "ShoppingCart";

}

<h1>@ViewBag.Message</h1>

<p>
    <a class="btn btn-default"style="background-color:burlywood" href="/home/Menu">Continue Shopping &raquo;</a>
    
</p>

<html>
<head>
    <style>
    </style>

</head>

<body style="background: url(https://img.wallpapersafari.com/desktop/1680/1050/97/73/nzX30o.jpg)">



</body>

</html>



