
@{
    ViewBag.Title = "ShoppingCart";

}

<h1>@ViewBag.Message</h1>

<html>
<head>
    <style>
    </style>

</head>

<body style="background: url(https://img.wallpapersafari.com/desktop/1680/1050/97/73/nzX30o.jpg)">



</body>

</html>



